@use "variables" as *;

/*
  Site container
*/

.container {
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.container a {
  // Styles handled in _base.scss now, but ensuring specific overrides if needed
}

.content-wrapper {
  padding-top: $header-thickness + 40px;
  padding-bottom: 60px;
  margin: 0 auto;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.content-wrapper h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

@media (max-width: $tablet-width) {
  .content-wrapper {
    padding-top: $header-thickness + 20px;
  }
}
